/* font-family: "Love Ya Like A Sister", cursive; */

/* general */
*, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    position: relative;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
/*
body {
    overflow-x: hidden;
} */

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

/* open */
.open {
    width: 100%;
    height: 100vh;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    pointer-events: none;
}

.loader {
    height: 100%;
    background: transparent;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    background-color: #0a3145;
    background-image: -o-linear-gradient(135deg, #541593 0%, #2c1585 100%);
    background-image: linear-gradient(-45deg, #541593 0%, #2c1585 100%);
    position: absolute;
    top: 0;
}

.loader-left {
    left: 0;
}

.loader-right {
    right: 0;
}

.count {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 6rem;
    color: #1a1a1a;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    mix-blend-mode: difference;
}

/* header */
.header {
    width: 100%;
    padding-top: 1rem;
    position: absolute;
    top: 0;
    z-index: 2;
}

.header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.logo {
    opacity: 0.2;
}

.logo__link {
    text-decoration: none;
}

.logo img {
    width: 80%;
}

/* navigation */
.nav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.hamburger {
    width: 35px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
    border: 0;
    margin: 0;
    background-color: transparent;
    z-index: 3;
    display: block;
    position: absolute;
    top: 2.5rem;
    right: 2rem;
}

.hamburger, .navigation {
    -webkit-transition: visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
    transition: visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
    -o-transition: transform .3s .1s ease-in-out, visibility 0s .4s;
    transition: transform .3s .1s ease-in-out, visibility 0s .4s;
    transition: transform .3s .1s ease-in-out, visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
}

.hamburger--active {
    background-color: transparent;
}

.hamburger__box {
    width: 35px;
    height: 25px;
    display: inline-block;
    position: relative;
}

.hamburger__inner {
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: background-color 0.1s 0.2s ease-in-out;
    -o-transition: background-color 0.1s 0.2s ease-in-out;
    transition: background-color 0.1s 0.2s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    content: "";
    left: 0;
    -webkit-transition: -webkit-transform 0.2s 0.2s ease-in-out;
    transition: -webkit-transform 0.2s 0.2s ease-in-out;
    -o-transition: transform 0.2s 0.2s ease-in-out;
    transition: transform 0.2s 0.2s ease-in-out;
    transition: transform 0.2s 0.2s ease-in-out, -webkit-transform 0.2s 0.2s ease-in-out;
}

.hamburger__inner::before {
    top: -12px;
}

.hamburger__inner::after {
    top: 12px;
}

.hamburger--active .hamburger__inner {
    background-color: transparent;
}

.hamburger--active .hamburger__inner:before {
    -webkit-transform: translateY(12px) rotate(45deg);
    -ms-transform: translateY(12px) rotate(45deg);
    transform: translateY(12px) rotate(45deg);
    background-color: #fff;
}

.hamburger--active .hamburger__inner:after {
    -webkit-transform: translateY(-12px) rotate(-45deg);
    -ms-transform: translateY(-12px) rotate(-45deg);
    transform: translateY(-12px) rotate(-45deg);
    background-color: #fff;
}

.navigation {
    height: 100%;
    width: 100%;
    background: rgb(75,0,173);
    background: -o-linear-gradient(320deg, rgba(75,0,173,1) 11%, rgba(225,0,154,1) 98%);
    background: linear-gradient(130deg, rgba(75,0,173,1) 11%, rgba(225,0,154,1) 98%);
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.navigation--active {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: visibility 0s 0s, -webkit-transform .3s .1s ease-in-out;
    transition: visibility 0s 0s, -webkit-transform .3s .1s ease-in-out;
    -o-transition: transform .3s .1s ease-in-out, visibility 0s 0s;
    transition: transform .3s .1s ease-in-out, visibility 0s 0s;
    transition: transform .3s .1s ease-in-out, visibility 0s 0s, -webkit-transform .3s .1s ease-in-out;
    visibility: visible;
}

.navigation__list {
    width: 80%;
    margin: 2rem 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.navigation__item {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    font-weight: 500;
    line-height: 49px;
    color: #fff;
    padding: 0 0.2rem;
    -webkit-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;

}

.navigation__link {
    width: 100%;
    display: block;
    color: #fff;
    text-decoration: none;
}

.navigation__item--hover:hover {
    background: rgba(255, 255, 255, 0.4);
}

.navigation__span {
    display: block;
    width: 60%;
    height: 1px;
    margin-left: 20%;
    background-color: #f2f2f2;
    cursor: none;
}

.cursor {
    cursor: pointer;
}

/* hero */
.hero {
    background: rgb(75,0,173);
    background: -o-linear-gradient(320deg, rgba(75,0,173,1) 11%, rgba(225,0,154,1) 98%);
    background: linear-gradient(130deg, rgba(75,0,173,1) 11%, rgba(225,0,154,1) 98%);
    position: relative;
}

.hero__wrapper {
    padding: 10rem 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.hero__text-wrapper {
    width: 100%;
    padding: 2rem 0;
}

.hero__title {
    margin: 0;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 49px;
}

.hero__paragraph {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.hero__buttons {
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.btn {
    display: block;
    width: 180px;
    height: 40px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}

.btn::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    z-index: -1;
}

.btn:hover::before  {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
}

.btn--first {
    color: #ee8c19;
    background-color: #fff;
    position: relative;
}

.btn--first::before {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f07a13), to(#f3a300));
    background-image: -o-linear-gradient(bottom, #f07a13 0%, #f3a300 100%);
    background-image: linear-gradient(to top, #f07a13 0%, #f3a300 100%);
    border-radius: 5px;
}

.btn--first:hover {
    color: #fff;
    z-index: 0;
}

.btn--second {
    color: #fff;
    border: 1px solid #fff;
    margin-left: 30px;
    position: relative;
}

.btn--second::before {
    background: #fff;
}

.btn--second:hover {
    color: #ee8c19;
    z-index: 0;
}

.hero__photo-wrapper {
    width: 100%;
    max-width: 300px;
    height: 300px;
    margin: 3rem 0 0;
    text-align: center;
    line-height: 0;
}

.hero__photo-wrapper img {
    height: 100%;
}

.hero__bottom {
    width: 120%;
    height: 200px;
    background: #fff;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: absolute;
    left: -10%;
    bottom: -100px;
    z-index: 0;
    display: none;
}

.scroll-down__wrapper {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f07a13), to(#f3a300));
    background-image: -o-linear-gradient(bottom, #f07a13 0%, #f3a300 100%);
    background-image: linear-gradient(to top, #f07a13 0%, #f3a300 100%);
    position: absolute;
    top: -22px;
    left: 50%;
    margin-left: -20px;
    -webkit-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
}

.scroll-down__wrapper:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#EF7109), to(#EF7109));
    background-image: -o-linear-gradient(bottom, #EF7109 0%, #EF7109 100%);
    background-image: linear-gradient(to top, #EF7109 0%, #EF7109 100%);
}

.scroll-down__link {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 49px;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* instruction */
.instruction {
    width: 100%;
    position: relative;
    z-index: 1;
}
.instruction__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.instruction__title {
    color: #1a1a1a;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 49px;
    margin: 3rem 0 0.5rem;
    text-align: center;
}

.instruction__boxes {
    width: 100%;
    padding: 3rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}

.box:nth-of-type(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
}

.phone__photo {
    width: auto;
    height: 20%;
}

.phone__photo {
    width: 100%;
}

.arrow__wrapper {
    display: none;
}

.box__text-wrapper {
    width: 100%;
    padding: 2rem;
    text-align: center;
}

.box__header {
    width: 100%;
    background-image: -o-linear-gradient(bottom, #e55b00 0%, rgba(229, 91, 0, 0) 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#e55b00), to(rgba(229, 91, 0, 0)));
    background-image: linear-gradient(to top, #e55b00 0%, rgba(229, 91, 0, 0) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: #ff9225;
    font-family: "Love Ya Like A Sister", cursive;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
}

.box__number {
    font-size: 4.5rem;
    margin-right: 20px;
}

.box__title {
    padding-bottom: 14px;
}

.box__paragraph {
    color: #4d4d4d;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    padding: 0;
    margin: 0;
}

.instruction__bottom-text {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#e55b00), to(rgba(229, 91, 0, 0)));
    background-image: -o-linear-gradient(bottom, #e55b00 0%, rgba(229, 91, 0, 0) 100%);
    background-image: linear-gradient(to top, #e55b00 0%, rgba(229, 91, 0, 0) 100%);
    -webkit-background-clip: text;
            background-clip: text;
    color: #ff9225;
    font-family: "Love Ya Like A Sister", cursive;
    font-size: 40px;
    font-weight: 400;
    line-height: 36px;
    margin: 4rem 0 6rem;
}


/* price-list */
.price-list {
    padding: 60px 0 80px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    background-color: #0a3145;
    background-image: -o-linear-gradient(135deg, #541593 0%, #2c1585 100%);
    background-image: linear-gradient(-45deg, #541593 0%, #2c1585 100%);
}

.price-list__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 120px;
}

.price-list__title {
    margin: 0;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    line-height: 49px;
}

.price-list__second-title {
    margin: 0 0 0 1rem;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 49px;
}

.price-list__boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.price-list__box {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: #ffffff;
}

.price-list__left-box {
    width: 35%;
    margin-right: 20px;
}

.price-list__top {
    padding: 25px 0;
    border-bottom: 1px solid #f5b035;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
}

.price-list__photo {
    position: absolute;
    left: 10px;
    bottom: 5px;
}

.top__title {
    color: #1a1a1a;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin: 0 0 0 140px;
}

.top__title--big {
    font-size: 40px;
    line-height: 48px;
}

.price-list__middle {

}

.price-list__middle {
    padding: 25px 0;
    border-bottom: 1px solid #f5b035;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}

.middle__paragraph {
    color: #1a1a1a;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.middle__paragraph--big {
    font-size: 40px;
}

.price-list__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.bottom__list {
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    margin: 30px 0 60px;
}

.list__span {
    color: #f5b035;
    font-size: 15px;
    line-height: 40px;
    margin-right: 15px;
}

.join__wrapper {
    margin-bottom: 50px;
}

.join__title {
    margin: 0 0 30px;
}

.join__link {
    text-decoration: none;
}

.price-list__right-box {
    width: 65%;
}

/* login and registration form */


/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* header */
    .logo img {
        width: 100%;
    }

    .hamburger {
        right: 3rem;
    }

    /* hero */
    .hero__photo-wrapper {
        max-width: 500px;
        height: 500px;
    }

    /* instruction */
    .instruction__boxes {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .box {
        width: 50%;
    }

}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* open */
    .count {
        font-size: 18rem;
    }

    /* navigation */
    .header__wrapper {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        width: 150%;
        background: transparent;
        position: relative;
        visibility: visible;
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
        z-index: 2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }

    .navigation__list {
        width: auto;
        margin: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        text-align: center;
    }

    .navigation__item {
        width: auto;
        font-size: 15px;
        margin-left: 20px;
        position: relative;
    }

    .navigation__item:first-of-type {
        margin-left: 0;
    }

    .navigation__item--hover:hover {
        background: transparent;
    }

    .navigation__item--hover::before {
        content: "";
        width: 100%;
        height: 2px;
        border-radius: 5px;
        position: absolute;
        left: 0;
        bottom: 0.5rem;
        background: rgba(255, 255, 255, 0.8);
        -webkit-transform:  scaleX(0);
            -ms-transform:  scaleX(0);
                transform:  scaleX(0);
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .navigation__item--hover:hover::before  {
        -webkit-transform:  scaleX(1);
            -ms-transform:  scaleX(1);
                transform:  scaleX(1);
    }

    .navigation__span {
        width: 1px;
        height: 30px;
    }

    /* hero */
    .hero__wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .hero__text-wrapper {
        width: 60%;
        padding: 10rem 2.5rem 3rem 1rem;
    }

    .hero__title {
        margin: 0 0 35px;
        font-size: 50px;
    }

    .hero__photo-wrapper {
        width: 40%;
        height: 700px;
        margin: 0;
    }

    .hero__bottom {
        display: block;
    }

    .scroll-down__wrapper {
        display: block;
    }

    /* instruction */
    .instruction__title {
        font-size: 50px;
        margin: 0 0 70px;
    }

    .instruction__boxes {
        padding: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    }

    .box {
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        margin: 0;
    }

    .box:nth-of-type(2) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }

    .phone__photo {
        width: 100%;
        height: auto;
    }

    .box__text-wrapper {
        width: 340px;
        text-align: left;
    }

    .box__text-wrapper--1 {
        margin: 3rem 0 0 -5rem;
    }

    .arrow--1 {
        margin: 20rem 0 0 3rem;
    }

    .box__text-wrapper--2 {
        margin: 3rem 0 0 -5rem;
    }

    .arrow--2 {
        margin: 20rem 8rem 0 0;
    }

    .box__text-wrapper--3 {
        margin: 3rem 0 0 0;
    }

    .arrow--3 {
        margin: 20rem 0 0 3rem;
    }

    .box__text-wrapper--4 {
        margin: 0 0 0 -8rem;
    }

    .phone__photo--4 {
        margin: 12rem 0 0 20rem;
    }

    .box__header {
        font-size: 26px;
        padding-right: 1rem;
    }

    .box__number {
        font-size: 70px;
    }

    .box__paragraph {
        font-size: 16px;
    }

    .arrow__wrapper {
        display: block;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
